Example/Node-red/flows.json
[
    {
        "id": "dc51f5c9ae3b0bd0",
        "type": "tab",
        "label": "LoRa_P2P",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbb96cbe080e93ae",
        "type": "mqtt in",
        "z": "dc51f5c9ae3b0bd0",
        "name": "",
        "topic": "LoRa/Pub",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "390251ab2911f09a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "d16c6802cd06f05d",
                "4286e2ea65e0efda"
            ]
        ]
    },
    {
        "id": "d16c6802cd06f05d",
        "type": "debug",
        "z": "dc51f5c9ae3b0bd0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "4286e2ea65e0efda",
        "type": "influxdb out",
        "z": "dc51f5c9ae3b0bd0",
        "influxdb": "a84b9da1e41b6d19",
        "name": "LoRa_P2P",
        "measurement": "Data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Anatsaya",
        "bucket": "LoRa_P2P",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "390251ab2911f09a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a84b9da1e41b6d19",
        "type": "influxdb",
        "hostname": "http://127.0.0.1:8086/orgs/c52af2862afbd0dd",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Influxdb 2.0",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://127.0.0.1:8086/",
        "rejectUnauthorized": true
    }
]